@font-face {
  font-family: "iconfont"; /* Project id 4543334 */
  src: url('iconfont.woff2?t=1715510643027') format('woff2'),
       url('iconfont.woff?t=1715510643027') format('woff'),
       url('iconfont.ttf?t=1715510643027') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dongyu:before {
  content: "\e69b";
}

.icon-a-baoyudabaoyutedabaoyu:before {
  content: "\e69c";
}

.icon-xiaoyu:before {
  content: "\e69d";
}

.icon-dafeng:before {
  content: "\e69e";
}

.icon-dayu:before {
  content: "\e69f";
}

.icon-zhongyu:before {
  content: "\e6a0";
}

.icon-leizhenyubanyoubingbao:before {
  content: "\e6a1";
}

.icon-feng:before {
  content: "\e6a2";
}

.icon-a-shachenbaoqiangshachenbao:before {
  content: "\e6a3";
}

.icon-xiaoxue:before {
  content: "\e6a4";
}

.icon-baoxue:before {
  content: "\e6a5";
}

.icon-a-jufengredaifengbao:before {
  content: "\e6a6";
}

.icon-leizhenyu:before {
  content: "\e6a7";
}

.icon-daxue:before {
  content: "\e6a8";
}

.icon-wu:before {
  content: "\e6a9";
}

.icon-yangsha:before {
  content: "\e6aa";
}

.icon-weizhi:before {
  content: "\e6ab";
}

.icon-zhenyu:before {
  content: "\e6ac";
}

.icon-longjuanfeng:before {
  content: "\e6ad";
}

.icon-a-yinleng:before {
  content: "\e6ae";
}

.icon-zhenxue:before {
  content: "\e6af";
}

.icon-fuchen:before {
  content: "\e6b0";
}

.icon-zhongxue:before {
  content: "\e6b1";
}

.icon-yujiaxue:before {
  content: "\e6b2";
}

.icon-mai:before {
  content: "\e6b3";
}

.icon-a-qingre:before {
  content: "\e6b4";
}

